aiogram
aiohttp

https://download.pytorch.org/whl/lts/1.8/cpu/torch-1.8.1%2Bcpu-cp38-cp38-win_amd64.whl
https://download.pytorch.org/whl/lts/1.8/cpu/torchvision-0.9.1%2Bcpu-cp38-cp38-win_amd64.whl
https://download.pytorch.org/whl/lts/1.8/torchaudio-0.8.1-cp38-none-win_amd64.whl

fastai
